   /* google font */

   @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
   
   /* variabili */

:root {
    --screen-color: #495464;
    --btn-colors: #BBBFCA;
    --background-color: #E8E8E8;
  }

  .top-container{
      text-align: center;
      margin-top: 6rem;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: 900;
      line-height: 1.5;
  }
  .top-container a{
      color: white;
  }


   
   body{
    background: #548CA8;
   }

   
   .calculator{
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 32px;
    background: var(--background-color);
    width: 16rem;
    margin-top: 4em;
    height: 30rem;
   }
   .result{
       width: 100%;
       border: 0;
       height: 60px;
       color: black;
       font-size: 16px;
       text-align: end;
   }
   .screen{
    text-align: end;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    height: 80px;
    font-size: 1rem;
    color: black;
    top: 8px;
    border:none;
    border-radius: 20px;
   }
   .buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 4px; 
    transition: 500ms;
   }
   
   button{
    width: 3rem;
    height: 3rem;
    justify-content: center;
    border-radius: 4rem;
    margin-left: 1px;
    border: none;
    transition: 300ms;
   }
   button:focus{
       transition: 500ms;
       transform: translateY(4px);
   }

   .btn-yellow{
    border-radius: 50%;
    background: var(--btn-colors);
   }
   .btn-grey{
       margin-bottom: 16px;
   }
   .btn,.btn-equal,.btn-clear{
    font-size: 13px
   }

   .btn-clear{
      color: red;
   }
   .sun-logo{
       position: relative;
       top: 12px;
       color: orange;
   }
   .moon-logo{
       position: relative;
       top: 12px;
   }
   .none{
       display: none;
   }